/*header*/
body {
    margin: 0%;
  }
 .top-section {
      
      height: 100vh;
      background-image: url(img/1\ \(4\).jpg);
      background-size: 100% 100% ;
     }
.top-section img{
    width: 15%;
    margin-top: 10px;
    margin-left: 30px;
}     
.polo82{
    float: right;
    margin-right: 40px;
    margin-top: 5px;
}

.polo82 ul {
    float: right;
   
}
.polo82 ul li {
    list-style-type: none;
    float: left;
    padding: 15px;
}
.polo82 ul li a {
    color: white;
    text-decoration: none;
    font-size: x-large;
}
.H-content {
    text-align: center;
    color: white;
    margin-top: 140px;
}
.H-content p{
    font-size: 23px;
    font-style: normal;
   
}
.H-content h1{
    font-size: 55px;
    font-weight: bold;
    margin: 15px 0;
}
.button1{
    padding: 17px 17px;
    border-radius: 10px;
    background-color: transparent;
    border-color: sienna;
    font-size: 17px;
    color: white;
    border: 3px solid burlywood;
    float: right;
    margin-right: 40%;
}
.button2{
    padding: 17px 17px;
    border-radius: 10px;
    background-color: transparent;
    border-color: sienna;
    font-size: 17px;
    color: white;
    border: 3px solid burlywood;
    float: left;
   margin-left:40% ;
}
/*header*/
/*section1*/
.div-image{
    width: 40%;
    float: left;
    margin: 40px 60px;
}
.div-image img{
    width: 95%;
}
.content1{
    width: 40%;
    float: left;
     margin: 60px 40px;
}
.content1 h1{
    text-align: center;
}
.content1 p{
    text-align: center;
}
.div-image img:hover {
      transform: scale(1.05);
    }
/*end of section1*/

/*section2*/
 .div-image2{
    width: 40%;
    float: right;
    margin: 3px 40px;
}
.div-image2 img{
    width: 95%;
}
.content2{
    width: 40%;
    float: left;
    margin-left: 100px;
}
.content2 h1{
    text-align: center;
}
.content2 p{
    text-align: center;
}
.div-image2 img:hover {
      transform: scale(1.05);
    }
/*end section2*/

/*section3*/
.gallary{
    text-align: center;
}
/*end section3*/

/*section4*/
.parent3{
    background-color: white;
    
  
}
.content3{
    
    color: blue;
    width: 33.3%;
    float: left;
    text-align: center;
}
.content3 img{
    background-color: aquamarine;
    width: 80%;
    margin: auto ;
}
.content3 p{
    width: 350px;
    margin: auto;
}
.div-clear{
    clear: both;
}
.content3 img:hover {
      transform: scale(1.05);
    }
/*end section4*/

/*section5*/

.parent4 iframe{
    width: 40%;
    float: right;
    margin-right: 120px;
}
.content4 {
    float: left;
    width: 40%;
    margin-left: 80px;
    margin-top: 38px;
}


.clearr{
    clear: both;
}
/*end section5*/

/*section6*/
.mk1{
    background-color: white;
    width: 350px;
    float: left;
    text-align: center;
}
.mk2{
background-color: white;
    width: 350px;
    float: left;
    text-align: center;
    margin-left: 150px;
}
.mk3{
background-color: white;
    width: 350px;
    float: right;
    text-align: center;
}
.mk4{
    clear: both;
}
/*end section6*/


/*footer*/     
.nono{
    margin: auto;
    width: 100%;
    text-align: center;
    background-color:grey;
    height: 124px;
}     
.nono img{
    width: 16%;
    margin-top: 28px;
}
.nono p{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}   
    


















